*{
box-sizing:border-box;
font-family:Segoe UI, sans-serif;
}

body{
margin:0;
background:url("Gurugram-scaled.jpg") no-repeat center center/cover;
min-height:100vh;
}

/* HEADER */

header{
text-align:center;
padding:30px;
}

.title-box{
background:rgba(255,255,255,0.9);
border-radius:16px;
padding:25px 50px;
box-shadow:0 8px 30px rgba(0,0,0,0.3);
display:inline-block;
}

.logout-btn{
margin-top:10px;
padding:8px 20px;
border:none;
border-radius:20px;
background:#e74c3c;
color:white;
cursor:pointer;
}

/* MAIN CARDS */

.container{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
padding:20px;
}

.card{
background:rgba(255,255,255,0.9);
border-radius:18px;
padding:25px;
width:350px;
box-shadow:0 10px 25px rgba(0,0,0,0.3);
}

.auth-card{
margin:100px auto;
}

.lost-card h2{color:#ff7675;}
.found-card h2{color:#2ecc71;}

input,textarea{
width:100%;
padding:10px;
margin-top:10px;
border-radius:6px;
border:1px solid #ccc;
}

button{
width:100%;
padding:12px;
margin-top:15px;
border:none;
border-radius:6px;
background:linear-gradient(45deg,#3498db,#6dd5fa);
color:white;
cursor:pointer;
}

/* REPORT SECTION */

.reports-section{
padding:20px;
text-align:center;
}

/* TITLE BOX */

.report-title-box{
background:rgba(255,255,255,0.9);
padding:12px 30px;
border-radius:30px;
display:inline-block;
margin-bottom:20px;
font-size:22px;
font-weight:bold;
box-shadow:0 6px 15px rgba(0,0,0,0.3);
}

/* GRID */

.report-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

/* MINI CARD */

.report-card-mini{
background:white;
border-radius:14px;
padding:15px;
box-shadow:0 8px 18px rgba(0,0,0,0.3);
position:relative;
transition:0.3s;
}

.report-card-mini:hover{
transform:translateY(-5px);
}

/* BADGES */

.badge{
padding:5px 12px;
border-radius:20px;
font-size:11px;
font-weight:bold;
color:white;
position:absolute;
top:12px;
right:12px;
}

.badge.lost{background:#e74c3c;}
.badge.found{background:#2ecc71;}

/* TEXT */

.report-card-mini h3{
margin-top:20px;
margin-bottom:5px;
font-size:18px;
}

.report-card-mini p{
margin:3px 0;
font-size:14px;
}

.desc-text{
color:#555;
font-size:13px;
}

/* AUTH LINKS */

.auth-link{
text-align:center;
margin-top:15px;
}

.auth-link a{
color:#007bff;
font-weight:bold;
text-decoration:none;
}

.auth-link a:hover{
text-decoration:underline;
}

/* MESSAGE */

.message-box{
opacity:0;
padding:10px;
border-radius:8px;
margin-top:10px;
text-align:center;
transition:0.4s;
}

.message-box.show{opacity:1;}
.message-box.success{background:#2ecc71;color:white;}
.message-box.error{background:#e74c3c;color:white;}

@media(max-width:800px){
.container{
flex-direction:column;
align-items:center;
}
}
